<!DOCTYPE html>
<html lang="fr">
    <head>        
        <!-- META SECTION -->
        <title>playIT</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="/"> 
        <!-- END META SECTION -->
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="/css/dash.css"/>
        <link rel="stylesheet" type="text/css" href="/js/plugins/sweetalert/sweetalert.css"/>
        <!-- EOF CSS INCLUDE -->                                      
    </head>
    <body ng-app="streame">
        <!-- START PAGE CONTAINER -->
        <div class="page-container page-navigation-top page-navigation-top-fixed">            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal" style="position:fixed;top:-5px;" id="topNavigation">
                    <li class="xn-logo" style="background:white">
                        <a href="/" style="top:0px;background:red!important;"><span style="color:white"> <strong> playIT </strong> </span></a>     
                    </li> 
<a href="#" class="x-navigation-control"></a>
                     <li>
                        <a href="/"><span class="fa fa-gamepad"></span> <span class="xn-text"> Telecomande </span></a>
                    </li>  
                     <li>
                        <a href="/youtube-search"><span class="fa "> <img src="/img/youtube.png" width="18" height="18"  style="margin-top:-2px"/></span> <span class="xn-text"> recherche youtube </span></a>
                    </li>      
                </ul>
