<% include topbar.ejs %>
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0" id="bread">
                </ul>
                <!-- END BREADCRUMB -->                
                                
                <!-- START CONTENT FRAME -->
                <div class="content-frame">                                    
                    <!-- START CONTENT FRAME TOP -->

<div class="row">
                <div class="col-md-3">
                </div>
                        <div class="col-md-6" ng-controller="player">

                            <div class="panel panel-default">
                                <div class="panel-body profile" id="player-img" style="height:250px;background: url({{img}}) no-repeat; 
                                -webkit-background-size:  100% 100%;
                                background-size: 100% 100% ">
  <!--
                                <img style="width:100%;height:100%" src="/img/games/wow/arena.jpg"> </img>
      -->
                                    <div class="profile-data" style="background-color:rgba(0, 0, 0, 0.7);width:100%;height:100%">
                                        

                                        <div class="profile-data-name"><h2 style="font-size:12;color:white;margin-top:15%">
						<strong id="player-title"> {{title}}</strong>
					</h2>
                    </div>
                                        <div class="profile-data-title"><h3 style="color:red"></h3></div>
                                    </div>
                                </div>
                                <div class="panel-body" style="text-align:center"> 
                                    <code>{{current_time}} / {{total_time}}</code>
				<div id="player_time" class="progress" style="background-color:rgba(0, 0, 0, 0.8);margin-top:3%;color:white">
                                        <div  class="progress-bar progress-bar-info" role="progressbar" max="100" value="{{p_time}}" style="width:{{p_time}}">
                        
                                        </div>

                                    </div>
                                </div>  
                            </div>
                        </div>
             </div>
        <div class="row" >
            <div class="col-md-3">
            </div>
                        <div class="col-md-6" ng-controller="controll">
                            <div class="panel panel-default">
                                <!--
                                <div class="panel-body">
                                    <p>This is non libero bibendum, scelerisque arcu id, placerat nunc. Integer ullamcorper rutrum dui eget porta. Fusce enim dui, pulvinar a augue nec, dapibus hendrerit mauris. Praesent efficitur, elit non convallis faucibus, enim sapien suscipit mi, sit amet fringilla felis arcu id sem. Phasellus semper felis in odio convallis, et venenatis nisl posuere. Morbi non aliquet magna, a consectetur risus. Vivamus quis tellus eros. Nulla sagittis nisi sit amet orci consectetur laoreet. Vivamus volutpat erat ac vulputate laoreet. Phasellus eu ipsum massa.</p>
                                </div>
                            -->
                                                            <div class="panel-body">                                                                      
                                            <center>
                                                    <button ng-click="playlist_back();" class="btn btn-default"><i class="fa fa-backward"></i></button>
                                                    <button ng-click="playlist_play()" class="btn btn-success"><i class="fa fa-play"></i></button>
                                                    <button ng-click="playlist_pause()" class="btn btn-info"><i class="fa fa-pause"></i></button>
                                                    <button ng-click="playlist_stop()" class="btn btn-danger"><i class="fa fa-stop"></i></button> 
                                                    <button ng-click="playlist_next()" class="btn btn-default"><i class="fa fa-forward"></i></button>                    
                                            </center>
                                </div>
                                <div class="panel-body">                                                                      
                                    <center>
                                                 <div> 
                                                    <button ng-click="volume_down()" class="btn btn-default"><i class="fa fa-volume-down"></i></button>
                                                    <button ng-click="volume_up()" class="btn btn-default"><i class="fa fa-volume-up"></i></button>               
                                            </br>
                                             </br>
                                                    <code> Volume : {{volume}} </code>
                                                </br>
                                                </br>
                                               <div class="progress">
                                                <div id="volumeBar" class="progress-bar progress-bar-success" role="progressbar"aria-valuemax="100" style="width:{{volume}}%">
                                                
                                                </div>
                                    </div>
                                                 </div>      

                                            </center>
                                </div>
                                </div>
                    </div>
                </div>

        <div class="row">
            <div class="col-md-3">
            </div>

                   <div class="col-md-6">
                            
                            <!-- CONTACT LIST WIDGET -->
                           <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 style="text-align:center">PlayList</h3>         
                                </div>
                                <div class="panel-body list-group list-group-contacts" ng-controller="playlist">
                                   <a href="#" class="list-group-item" ng-if="!playlist[0]" style="text-align:center !important;color:red">                                 
                                    
                                      
                                        <span class="contacts-title">Aucun item dans la playlist</span>                                                                                                     
                                    </a>                              
                                    <a class="list-group-item" ng-repeat="item in playlist" data-url="{{item.url}}">                                 
                            
                                        <img src="{{item.img}}" class="pull-left" alt="{{item.title}}" style="min-height:30px">
                                        <span class="contacts-title" >{{item.title}}</span>  
                                        </br>    
                                        </br>                                                           
                                        <div class="list-group-controls">
                                            <button ng-click="delete_item($index)" class="btn btn-danger"><span class="fa fa-trash-o"></span></button>
                                            <!--<button ng-click="play_item($index)" class="btn btn-success"><span class="fa fa-play"></span></button>-->
                        
                                        </div>                                    
                                    </a>     
                                </div>
                            </div>
                            <!-- END CONTACT LIST WIDGET -->
                                </div>
                            </div>



          <div class="row">
            <div class="col-md-3">
            </div>
                        <div class="col-md-6" ng-controller="sendUrl">
                            <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <h3 style="text-align:center"><strong>ajouter url</strong></h3>
                                </div>
                                <!--
                                <div class="panel-body">
                                    <p>This is non libero bibendum, scelerisque arcu id, placerat nunc. Integer ullamcorper rutrum dui eget porta. Fusce enim dui, pulvinar a augue nec, dapibus hendrerit mauris. Praesent efficitur, elit non convallis faucibus, enim sapien suscipit mi, sit amet fringilla felis arcu id sem. Phasellus semper felis in odio convallis, et venenatis nisl posuere. Morbi non aliquet magna, a consectetur risus. Vivamus quis tellus eros. Nulla sagittis nisi sit amet orci consectetur laoreet. Vivamus volutpat erat ac vulputate laoreet. Phasellus eu ipsum massa.</p>
                                </div>
                            -->
                                <div class="panel-body">                                                                        
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Entrez une url</label>
                                        <div class="col-md-6 col-xs-12" style="text-align:center">                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-chevron-right"></span></span>
                                                <input ng-keyup="$event.keyCode == 13 && send_url()" ng-model="url" class="form-control" type="text" >
                                            </div>                                          
                                            <span class="help-block" id="url_error" style="color:red;display:{{error}}">L'url est vide</span>
                                        </div>
                                    </div>
                                </div>
                                    <div class="panel-footer">
                                               <center>        
                                        <button class="btn btn-primary " ng-click="send_url()">ajouter</button>
                                    </center>
                                </div>
                                </div>
                    </div>
                   
        </div>
                <!-- END PAGE CONTENT FRAME -->
		</div>
            </div>            
            <!-- END PAGE CONTENT -->
        </div>  
        <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>     
        <script type="text/javascript" src="js/plugins/knob/jquery.knob.min.js"></script>

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="/js/settings.js"></script>
        <script type="text/javascript" src="/js/plugins.js"></script>        
        <script type="text/javascript" src="/js/actions.js"></script> 
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->         
<script>
    var socket = io.connect();
       

    var app = angular.module('streame', ['ngRoute']);

	socket.on('connect', function() {
		socket.emit('authentification', 'controller');
	});


    app.controller('player', function($scope) {
        $scope.total_time = 0;
        $scope.current_time = 0;
        $scope.p_time = '0%';
        $scope.title = 'aucune lecture en cours';
        $scope.img = 'img/youtube-full.jpg';

        socket.on('player-time', function(times) {
                $scope.$apply(function() {
                    $scope.total_time = times.total;
                    $scope.current_time = times.current;
                    $scope.p_time = times.p_time + '%';
                });

        });
        socket.on('player-playing', function(head) {
            console.log(head);
            $scope.$apply(function() {
               $scope.title = head.title;
               $scope.img = head.img;
            });

        });
    });

    app.controller('controll', function($scope) {
        $scope.volume = 0;

        $scope.playlist_back = function() {
            socket.emit('playlist-back', true);
        }

        $scope.playlist_next = function() {
            socket.emit('playlist-next', true);
        }

        $scope.playlist_stop = function() {
            socket.emit('playlist-stop', true);
        }

        $scope.playlist_play = function() {
            socket.emit('playlist-play', true);
        }

        $scope.playlist_pause = function() {
            socket.emit('playlist-pause', true);
        }

        $scope.volume_up = function() {
            socket.emit('volume-up', true);
        }

        $scope.volume_down = function() {
            socket.emit('volume-down', true);
        }

        socket.on('player-volume', function(value) {
            $scope.$apply(function() {
                $scope.volume = value;
            });
        });

    });

    app.controller('sendUrl', function($scope){
        $scope.error = 'none';
        $scope.url = '';

        $scope.send_url = function(url) {
            if (!$scope.url)
                return $scope.error = 'block';
            $scope.error = 'none';
            socket.emit('play-url', $scope.url);
            $scope.url = '';
        }
    });

    app.controller('playlist', function($scope) {
        $scope.playlist = [];
        $scope.delete_item = function(index) {
                socket.emit('playlist-delete', index);
        }
        $scope.play_item = function(index) {
                console.log(index);
                 socket.emit('play-item', index);
        }
        socket.on('playlist', function(data) {
            $scope.$apply(function() {
                    $scope.playlist = data;
            });
        });
    });


$("#player_time").click(function(e) {
    var width = $(this).width() + 24;
    var x = e.pageX;
    var p = parseInt(x/width*100,10);
    socket.emit('player:goto', p);
});


</script>
    </body>
</html>
